# Airbyte OSS — OAuth2 Client Credentials (abctl local credentials)
AIRBYTE_CLIENT_ID=
AIRBYTE_CLIENT_SECRET=

# Airbyte — UUIDs des connexions (abctl local credentials ou api/public/v1/connections)
AIRBYTE_CONN_ERP=
AIRBYTE_CONN_CRM=
AIRBYTE_CONN_MKT=
